{% extends 'master' %}

{% block content %} 
    <table border="1" style="width:100%;padding:10px;">
        <thead>
            <tr>
                <th>orderNumber</th>
                <th>productCode</th>
                <th>quantityOrdered</th>
                <th>priceEach</th>
                <th>orderLineNumber</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.productCode }}</td>
                <td>{{ order.quantityOrdered }}</td>
                <td>{{ order.priceEach }}</td>
                <td>{{ order.orderLineNumber }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}
